<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Control - Jurassic Park</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-warning">JURASSIC PARK</span>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-3">
          <a class="nav-link" href="dashboard.html">Mapa</a>
          <a class="nav-link d-none" id="nav-dinos" href="dinosaurios.html">Dinosaurios</a>
          <a class="nav-link d-none" id="nav-celdas" href="celdas.html">Celdas</a>
          <a class="nav-link d-none" id="nav-users" href="usuarios.html">Usuarios</a>
        </div>
      </div>

      <div class="d-flex gap-2 align-items-center">
        <a class="nav-link text-white me-2" href="perfil.html">Mi perfil</a>
        <button id="logoutBtn" class="btn btn-outline-danger btn-sm">Cerrar Sesión</button>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3>Mapa de Celdas</h3>
        <p>Estado actual de los recintos</p>
        <div class="d-flex justify-content-center gap-2">
            <button id="btnSimular" class="btn btn-danger d-none shadow-sm mb-3">
                Iniciar Simulación de Caos
            </button>
            <button id="btnBrecha" class="btn btn-warning d-none shadow-sm mb-3">
                 Simular Brecha de Seguridad
            </button>
        </div>
      </div>
    </div>

    <div id="gridContainer" class="row row-cols-1 row-cols-md-4 g-4">
    </div>
  </div>

  <div class="modal fade" id="modalInforme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-secondary">
                <h5 class="modal-title text-warning"> Informe de Incidente</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div id="informeContent" class="modal-body text-center">
                </div>
        </div>
    </div>
  </div>

  <script type="module" src="../components/dashboard.ts"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>